<h2>Let's find you an OB/GYN, <%= currentUser.name %>! </h2>
<hr>
<div class="container">
	<div class= "form group row">
		<p id="zipP" class = "col-6" style="text-align: center">Based on your current zipcode of <%= currentUser.location %></p>
		<form class ="col-6" id="changeZip">
			<input id="zipcode" type="text" placeholder="<%= currentUser.location %>">
			<button form="changeZip">Change zipcode</button>
		</form>
	</div>
	<div class="smallDiv">
	<% for(let i=0; i < doctors.results.length; i++) { %>
		<%var stringName = doctors.results[i].name %>
		<%var noSpacesName = stringName.replace(/\s/g,"+") %>

	    <a class="docLoc" href="http://www.google.com/search?q=<%=noSpacesName%>"><%=doctors.results[i].name%></a>
	    <p class="indent"> <%= doctors.results[i].vicinity %></p>
	<% } %>
	</div>
</div>

<script type="text/javascript" src="scripts/find.js"></script>